<div id="footer" class="clear">
      <!-- ####################################################################################################### -->
      <div class="fl_left clear">          
        <address>
        Địa chỉ: <b>22 Sen Hồ- Thị trấn Nếnh - Huyện Việt Yên<br/> - Bắc Giang</b><br />        
        Số điện thoại: 02403.668.007<br />
        Email: <a href="javascript:;">thutrangbg.nbk@gmail.com</a>
        </address>
        <!--
        <div id="social">
          <p>Trường tôi trên Facebook</p>
          <ul>           
            <li><a style="background-position:-142px 0;" href="javascript:;">Facebook</a></li>
          </ul>
        </div>
        -->
      </div>
      <div class="fl_right">
         <div class="fl_left center"><img src="{site_url()}/webskins/skins/school/images/map.jpg" /></div><br />
      </div>
      <!-- ####################################################################################################### -->
    </div>