<div id="contact-cta" class="section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({$skin_front}/img/cta2-background.jpg)"></div>
			<!-- Backgound Image -->

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-8 col-md-offset-2 text-center">
						<h2 class="white-text">CẢM NHẬN HỌC VIÊN</h2>
					</div>

				</div>
				<!-- /row -->
				<div class="row">

						<!-- single course -->
						<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-3">
							<div class="course-f">
								<a href="#" class="course-img">
									<img class='img-circle' src="{$skin_front}/img/hocvien1.jpg" alt="">
								</a>
								<a class="course-title">Khoá học mang đến cho tôi nhiều điều bổ ích</a>
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-2 col-sm-6 col-xs-6">
							<div class="course-f">
								<a href="#" class="course-img">
									<img class='img-circle' src="{$skin_front}/img/hocvien2.jpg" alt="">
								</a>
								<a class="course-title">Mình rất ấn tượng với giáo viên người Nhật</a>
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-2 col-sm-6 col-xs-6">
							<div class="course-f">
								<a href="#" class="course-img">
									<img class='img-circle' src="{$skin_front}/img/hocvien3.jpg" alt="">
								</a>
								<a class="course-title">How to Get Started in Photography</a>
							</div>
						</div>
						<!-- /single course -->

					</div>

			</div>