<div id="courses" class="section">

            <!-- container -->
            <div class="container">

                <!-- row -->
                <div class="row">
                    <div class="section-header text-center">
                        <h2>VIDEO LỚP GIAO TIẾP</h2>
                    </div>
                </div>
                <!-- /row -->
                <script>
                        /*$('#courses').on("click","a.about-video", function (e) {
                            e.preventDefault();
                            video = '<iframe width="100%" height="241px" src="'+ $(this).attr('data-video') +'"></iframe>';
                            $(this).replaceWith(video);
                       });*/
                </script>
                <!-- courses -->
                <div id="courses-wrapper">
                    <!-- row -->
                    <div class="row">

                        <!-- single course -->
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="course">
                                <a class="about-video" href="javascript:;" data-video="http://www.youtube.com/embed/zP_D_YKnwi0?autoplay=1">
                                    <div id="play"></div>
                                    <img src="{$skin_front}/img/IMG_0719.jpg" alt="">
                                    <!--i class="play-icon fa fa-play re"></i-->
                                </a>
                                <a class="course-title">All You Need To Know About Web Design</a>
                            </div>
                        </div>
                        <!-- /single course -->
                        <!-- single course -->
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="course">
                                <a class="about-video" href="javascript:;" data-video="http://www.youtube.com/embed/zP_D_YKnwi0?autoplay=1">
                                    <div id="play"></div>
                                    <img src="{$skin_front}/img/IMG_0719.jpg" alt="">
                                    <!--i class="play-icon fa fa-play re"></i-->
                                </a>
                                <a class="course-title">All You Need To Know About Web Design</a>
                            </div>
                        </div>
                        <!-- /single course -->


                        <!-- single course -->
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="course">
                                <a class="about-video" href="javascript:;" data-video="http://www.youtube.com/embed/zP_D_YKnwi0?autoplay=1">
                                    <div id="play"></div>
                                    <img src="{$skin_front}/img/IMG_0719.jpg" alt="">
                                    <!--i class="play-icon fa fa-play re"></i-->
                                </a>
                                <a class="course-title">All You Need To Know About Web Design</a>
                            </div>
                        </div>
                        <!-- /single course -->

                    </div>
                    <!-- /row -->

                </div>
                <!-- /courses -->

            </div>
            <!-- container -->

        </div>
        <!-- /Courses -->

        <!-- Why us -->
        <div id="why-us" class="section">

            <!-- container -->
            <div class="container">

                <!-- row -->
                <div class="row">
                    <div class="section-header text-center">
                        <h2>LỘ TRÌNH HỌC TIẾNG NHẬT</h2>
                    </div>

                    <!-- feature -->
                    <div class="col-md-8 col-md-offset-2">
                        <div class="feature">
                            <img class="img-responsive" src="{$skin_front}/img/lotrinh.jpg">
                        </div>
                    </div>
                    <!-- /feature -->

                </div>
                <!-- /row -->
            </div>
            <!-- /container -->

        </div>
        <!-- /Why us -->
        <div id="courses" class="section">

            <!-- container -->
            <div class="container">

                <!-- row -->
                <div class="row">
                    <div class="section-header text-center">
                        <h2>CÁC KHÓA HỌC</h2>
                    </div>
                </div>
                <!-- /row -->

                <!-- courses -->
                <div id="courses-wrapper">

                    <!-- row -->
                    <div class="row">

                        <!-- single course -->
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="course">
                                <a href="#" class="course-img">
                                    <img src="./img/course05.jpg" alt="">
                                    <i class="course-link-icon">PHP Tips</i>
                                </a>
                                <a class="course-title">PHP Tips, Tricks, and Techniques</a>
                            </div>
                        </div>
                        <!-- /single course -->

                        <!-- single course -->
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="course">
                                <a href="#" class="course-img">
                                    <img src="./img/course06.jpg" alt="">
                                    <i class="course-link-icon">DOANH NGHIỆP</i>
                                </a>
                                <a class="course-title">All You Need To Know About Web Design</a>
                            </div>
                        </div>
                        <!-- /single course -->

                        <!-- single course -->
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="course">
                                <a href="#" class="course-img">
                                    <img src="./img/course07.jpg" alt="">
                                    <i class="course-link-icon">GIAO TIẾP</i>
                                </a>
                                <a class="course-title">How to Get Started in Photography All You Need To Know About Web Design</a>
                            </div>
                        </div>
                        <!-- /single course -->

                    </div>
                    <!-- /row -->

                </div>
                <!-- /courses -->

            </div>
            <!-- container -->

        </div>




        <div id="about" class="section bg-about">

            <!-- container -->
            <div class="container">

                <!-- row -->
                <div class="row">

                    <div class="col-md-6 col-md-offset-3">
                        <div class="section-header text-center">
                            <h2>VÌ SAO CHỌN TOMODACHI</h2>
                        </div>

                        <!-- feature -->
                        <div class="feature">
                            <i class="feature-icon fa fa-diamond"></i>
                            <div class="feature-content">
                                <h5>Chất lượng cao </h5>
                            </div>
                        </div>
                        <!-- /feature -->

                        <!-- feature -->
                        <div class="feature">
                            <i class="feature-icon fa fa-users"></i>
                            <div class="feature-content">
                                <h5>Có độ tương tác với giáo viên </h5>
                            </div>
                        </div>
                        <!-- /feature -->

                        <!-- feature -->
                        <div class="feature">
                            <i class="feature-icon fa fa-comments"></i>
                            <div class="feature-content">
                                <h5>Phương pháp tăng cường khả năng nhớ và bật phản xạ </h5>
                            </div>
                        </div>
                        <!-- /feature -->
                        <div class="feature">
                            <i class="feature-icon fa fa-pencil-square-o"></i>
                            <div class="feature-content">
                                <h5>Tài liệu chuyên biệt thiết kế cho từng đối tượng và chuyên ngành </h5>
                            </div>
                        </div>
                        <div class="feature">
                            <i class="feature-icon fa fa-handshake-o"></i>
                            <div class="feature-content">
                                <h5>Là đối tác của nhiều công ty Nhật tại Việt Nam </h5>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- row -->

            </div>
            <!-- container -->
        </div>

        <div id="courses" class="section">

            <!-- container -->
            <div class="container">

                <!-- row -->
                <div class="row">
                    <div class="section-header text-center">
                        <h2>GIẢNG VIÊN</h2>
                    </div>
                </div>
                <!-- /row -->

                <!-- courses -->
                <div id="courses-wrapper">

                    <!-- row -->
                    <div class="row">

                        <!-- single course -->
                        <div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-4">
                            <div class="course-gv">
                                <a href="#" class="course-img">
                                    <img src="{$skin_front}/img/gv1.jpg" alt="">
                                </a>
                                <a class="course-title" href="#">NGUYỄN THỊ HÀ</a>
                            </div>
                        </div>
                        <!-- /single course -->

                        <!-- single course -->
                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <div class="course-gv">
                                <a href="#" class="course-img">
                                    <img src="{$skin_front}/img/gv2.jpg" alt="">
                                </a>
                                <a class="course-title" href="#">NGUYỄN THỊ LIÊN</a>
                            </div>
                        </div>
                        <!-- /single course -->

                    </div>
                    <!-- /row -->

                </div>
                <!-- /courses -->

            </div>
            <!-- container -->

        </div>