<div class="linkbox">
          <ul>
            <li><a href="#">&raquo; Academic Advisory</a></li>
            <li><a href="#">&raquo; Academic Assistance</a></li>
            <li><a href="#">&raquo; Academic Calendars</a></li>
            <li><a href="#">&raquo; Academics Office</a></li>
            <li><a href="#">&raquo; Administration</a></li>
            <li><a href="#">&raquo; Adult Learners</a></li>
            <li><a href="#">&raquo; Alumni Chapters</a></li>
            <li><a href="#">&raquo; Alumni Events</a></li>
            <li><a href="#">&raquo; Athletics</a></li>
            <li><a href="#">&raquo; Campus Life At a Glance</a></li>
            <li><a href="#">&raquo; Campus Recreation</a></li>
            <li><a href="#">&raquo; Campus Safety &amp; Security</a></li>
          </ul>
        </div>
        <div class="linkbox">
          <ul>
            <li><a href="#">&raquo; Class Schedules</a></li>
            <li><a href="#">&raquo; Counselling Center</a></li>
            <li><a href="#">&raquo; Course Descriptions and Catalogue</a></li>
            <li><a href="#">&raquo; Department Directory</a></li>
            <li><a href="#">&raquo; Departments &amp; Programs</a></li>
            <li><a href="#">&raquo; Fellowships</a></li>
            <li><a href="#">&raquo; Finals Schedules</a></li>
            <li><a href="#">&raquo; Financial Aid</a></li>
            <li><a href="#">&raquo; Fitness and Recreation Facilities</a></li>
            <li><a href="#">&raquo; Global Learning</a></li>
            <li><a href="#">&raquo; Graduate</a></li>
            <li><a href="#">&raquo; Graduate Admissions</a></li>
          </ul>
        </div>
        <div class="linkbox">
          <ul>
            <li><a href="#">&raquo; Graduate Health Services</a></li>
            <li><a href="#">&raquo; Graduate Housing</a></li>
            <li><a href="#">&raquo; Graduate Programs</a></li>
            <li><a href="#">&raquo; Graduate Student Association</a></li>
            <li><a href="#">&raquo; Graduate Studies</a></li>
            <li><a href="#">&raquo; Honours Program</a></li>
            <li><a href="#">&raquo; Interactive Schedule</a></li>
            <li><a href="#">&raquo; International Programs</a></li>
            <li><a href="#">&raquo; International Students</a></li>
            <li><a href="#">&raquo; Intramural Sports</a></li>
            <li><a href="#">&raquo; Language Resources</a></li>
            <li><a href="#">&raquo; Maps and Directions</a></li>
          </ul>
        </div>
        <div class="linkbox last">
          <ul>
            <li><a href="#">&raquo; Office of the Registrar</a></li>
            <li><a href="#">&raquo; Online Learning</a></li>
            <li><a href="#">&raquo; Parent Information</a></li>
            <li><a href="#">&raquo; Residence Life</a></li>
            <li><a href="#">&raquo; Residential Colleges</a></li>
            <li><a href="#">&raquo; Schools and Colleges</a></li>
            <li><a href="#">&raquo; Student Activities</a></li>
            <li><a href="#">&raquo; Student Affairs</a></li>
            <li><a href="#">&raquo; Student Development</a></li>
            <li><a href="#">&raquo; Student Financial Services</a></li>
            <li><a href="#">&raquo; Student Group Directory</a></li>
            <li><a href="#">&raquo; Student Life</a></li>
          </ul>
        </div>