<div class="wrapper" style="display:none;">
  <div id="featured_slide" class="clear">
    <!-- ###### -->
    <div class="overlay_left"></div>
    <div id="featured_content">
    {foreach from=$list_news item=news}
      <div class="featured_box" id="fc{$news.i}"><img src="{$news.img_url}" alt="{$news.title}" />
        <div class="floater">
          <h2>{$news.title}</h2>
          <p>{$news.description|truncate:150}</p>
          <p class="readmore"><a href="{detail_news($news.id,$news.title)}">Chi tiết &raquo;</a></p>
        </div>
      </div>
    {/foreach}
    </div>
    <ul id="featured_tabs">
    {foreach from=$list_news item=news}
      <li class="{if $news.i==5}last{else} {/if}"><a href="#fc{$news.i}">{$news.title|truncate:30}</a></li>
    {/foreach}
    </ul>
    <div class="overlay_right"></div>
    <!-- ###### -->
  </div>
</div>