<div id="home" class="hero-area">

      <!-- Backgound Image -->
      <div class="bg-image bg-parallax overlay" style="background-image:url({$skin_front}/img/home-background.jpg)"></div>
      <!-- /Backgound Image -->

      <div class="home-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="white-text">Lớp học giao tiếp tiếng nhật chất lượng cao</h2>
              <div class="center-btn-learn">
                <a class="main-button icon-button" href="#">Đăng ký học thử</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>