{if $check==1}
<table cellspacing="0" cellpadding="0" width="100%" style="margin-bottom:0px;border-bottom:none important;" summary="Summary Here">
    <tr class="th-title">
      <td width="85px" align="center"><b>TÊN XE</b></td>
      {foreach from=$time_map item=one}
        <td style="background-color:;" width="43px">{$one.time_code_show}</td>
      {/foreach}
    </tr>
</table>          
<div id="boxscroll">                
    <table cellspacing="0" cellpadding="0" summary="Summary Here">        
            {foreach from=$list_car_status item=arr}   
            <tr>                        
                <td width="85px">
                    <a href="javascript:;" rel="{$array_car_img[$arr.CAR_ID]}"  data-geo="data-geo">{$arr.CAR_ID}</a>                                
                </td> 
                
                
                {foreach from=$time_map item=one}                            
                <td width="43px" {if $arr[{$one.time_code}]>=1}style="background-color:red"{/if} ></td>
                {/foreach}                                                                                                                    
            </tr>  
            {/foreach}
  </table>        
</div>
{else}
    <p style="font-weight:bold;color: red;">Chưa cài lịch cho ngày {$time_selected}</p>
{/if}