<div class="wrapper">
    <div id="breadcrumb">
        <ul>
            {$path_way}          
        </ul>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div id="l-content" style="width:340px;float:left;background-color:#E8ECEF;margin-right:10px;border-radius:10px;height:463px">
            <p style="color:#059BD8;font-weight:bold;">&nbsp;&nbsp;ĐỐI TƯỢNG TUYỂN SINH</p>
            <p style="margin-left:10px;">-	Là công dân Việt Nam</p>
            <p style="margin-left:10px;">-	Tuổi: (Tính đến ngày dự sát hạch lái xe)</p>
            <p style="margin-left:20px;">+	Đủ 18 tuổi đối với Hạng B2</p>
            <p style="margin-left:20px;">+  Đủ 21 tuổi đối với Hạng C</p>
            <p style="margin-left:10px;">-	Sức khỏe: Theo quy định về tiêu chuẩn sức khỏe do Bộ Y tế ban hành</p>
            <p style="border:1px dotted #666666;"></p>
            <p style="color:#059BD8;font-weight:bold;">              
                &nbsp;&nbsp;NGƯỜI HỌC CÓ THỂ ĐĂNG KÝ HỌC BẰNG CÁCH
            </p>
            <p style="margin-left:10px;">-	Đăng ký qua website</p>
            <p style="margin-left:10px;">-	Liên hệ trực tiếp với văn phòng của trung tâm</p>
            <p style="margin-left:10px;">-	Liên hệ với cán bộ tư vấn của trung tâm</p>
             <p style="margin-left:10px;"><a style="color:red;" href="{contact_url()}">(Liên hệ với trung tâm & cán bộ tư vấn)</a></p>
        </div>
        <div style="width:390px;float:left">
            <div class="r-content" style="width:370px;background-color:#F0EDDA;padding:0 10px;border-radius:10px;float:left;">            
                <div >
                    <p style="color:#059BD8;font-weight:bold;">              
                        ĐĂNG KÝ NHẬP HỌC
                    </p>
                    <div class="resetPassSussce clearfix result-reg-form" style="display:none;">
                     	<h3><i class="iconSussces"></i><span id="msg-result"></span></h3>
                     </div>                     
                    {$form_begin}                    
                        <p>
                            <div class="label-left"><label for="name" >Họ và tên </label></div>
                            <input type="text" class="input-right" size="32"  id="name" name="name" />                       
                        </p>                    
                        <p>
                            <div class="label-left"><label for="cmt">Số CMND</label></div>
                            <input type="text" size="32" id="cmt" name="cmt" />
                        </p>                       
                            
                        <p>
                            <div class="label-left"><label for="phone">Điện thoại</label></div>
                            <input type="text" size="32" id="phone" name="phone"/>
                        </p>
                        <p>
                            <label style="color:#059BD8;">Địa chỉ liên hệ:</label>
                        </p>                     
                        <p>
                            <div class="label-left"><label>T.phố/Tỉnh</label></div>                            
                            <select id="reg_city" name="reg_city">
                                <option value="0" style="width:110px;">Chọn tỉnh thành</option>
                                {$city_option}
                            </select>                            
                        </p>
                        <p>
                            <div class="label-left"><label>Quận/huyện</label></div>                            
                            <select id="reg_district" name="reg_district">
                                <option value="0" style="width:110px;">Chọn quận huyện</option>
                            </select>                        
                        </p>
                        <p>
                            <div class="label-left"><label>Phường/Xã</label></div>
                            <input type="text" size="32" placeholder="Số nhà - phường/xã" id="reg_add" name="reg_add" />
                        </p>
                        
                        <p>
                            <div class="label-left" style=""><label for="type_cost">Hạng xe</label></div>
                            <input type="radio" name="type_cost" value="1" checked="" /> &nbsp; Hạng B2
                            <input type="radio" name="type_cost" value="2" /> &nbsp; Hạng C                            
                            <span id="hang_xe_info" style="display:block;margin-left:85px;color:#059BD8">(Ô tô chở người đến 9 chỗ, ô tô tải, máy kéo có trọng tải < 3.5 tấn)</span>
                            <!--<span></span>-->
                        </p>                   
                        <p style="margin-top:20px;text-align:center;">                        
                            <a href="javascript:;" class="button-des reg-course">Đăng ký</a> &nbsp; 
                            &nbsp;
                            <a href="javascript:;" onclick="location.reload();" class="button-denied">Hủy</a>                        
                        </p>
                    {$form_end}
                </div>                
            </div>            
            <p style="font-weight:bold;color:#FF8005;display:block;margin-top:10px;width:100%;">(*) Cán bộ tư vấn của trung tâm sẽ liên lạc với người học 
            trong thời gian sớm nhất</p>
        </div>
        <div class="column" style="float: left;width:250px;margin-left:10px;">
          <div class="subnav" style="padding-right: 0px; padding-left: 0px;">
            <h2>Thông tin đào tạo</h2>
            <ul>
              {foreach from=$list_new item=arr}  
                 <li><a href="{detail_new($arr.id,$arr.title)}">{$arr.title}</a></li>
              {/foreach}
            </ul>
          </div>      
        </div>
        <br class="clear">
    </div>
</div>