<h6 class="title" style=" width: 78%; float: left; ">
    <i class="icon-edit"></i> {if $id}Sửa nội dung{else}Thêm nội dung{/if}
</h6>
<input type="hidden" id="base_url" value="{site_url()}" />
<a href="{site_url("admin/course")}" class="btn btn-success" style="float: right; margin-top: 12px; margin-left: 19px;"><i class="icon-th-list icon-white"></i> Danh sách</a>
<div class="row-fluid">
	<div class="span12">
		{if $notice}
		<div class="alert alert-success"><button data-dismiss="alert" class="close" type="button">×</button>{$notice}</div>
		{/if}
		{$form_edit}
			<input type="hidden" value="{$id}" name="id"/>
			<label>Tiêu đề</label>
		    <input type="text" id="title" value="{$data.title}" name="title" class="span6"/>
            <label>Ảnh đại diện</label>
            <input type="file" name="image" />
            {if $data.image}
            <img src="{store_data_url()}course/{$data.image}" width="80" height="80" />
            {/if}
            <label>Nội dung</label>
		    <textarea id="description" name="description" class="span9 editor">{$data.description}</textarea>
		    <label class="checkbox">
		      	<input type="checkbox" name="status" value="1"{if $data.status == 1} checked="checked"{/if} /> Hoạt động
		    </label>
		    <div class="control-group" style="text-align: center">
    			<button class="btn btn-success guide-cat-add"><i class="icon-ok icon-white"></i> Lưu</button>
		    </div>
		</form>
	</div>
</div>
<div class="fix"></div>