<header id="header" class="transparent-nav">
      <div class="container container-st">

        <div class="navbar-header">
          <!-- Logo -->
          <div class="navbar-brand">
            <a class="logo" href="{base_url()}">
              <img src="{$skin_front}/img/logo.png" alt="logo">
            </a>
          </div>
          <!-- /Logo -->

          <!-- Mobile toggle -->
          <button class="navbar-toggle">
            <span></span>
          </button>
          <!-- /Mobile toggle -->
        </div>

      </div>
      <div class="container container-nav">
        <!-- Navigation -->
        <nav id="nav">
          <ul class="main-menu nav navbar-nav navbar-right">
            <li><a href="{about_url()}">Giới thiệu Tomo</a></li>
            <li><a href="#">Giáo viên</a></li>
            <li><a href="#">Tài liệu</a></li>
            <li><a href="#">Khóa học</a></li>
            <li><a href="{contact_url()}">Liên hệ</a></li>
          </ul>
        </nav>
        <!-- /Navigation -->

      </div>
    </header>