<style>
    .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
        color: #FFF;
        background-color: #00b240;
    }

        .nav-pills > li.active > a:hover {
            background-color: #00b240;
            color:#FFF;
        }
</style>
<div id="courses" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">
					<div class="section-header text-center">
						<h2>HỢP TÁC ĐÀO TẠO</h2>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- container -->

		</div>


<div id="courses" class="section" style="margin-top:-110px;">
			<div class="container">
				<!-- row -->
				<div class="row">
					<div id="exTab1" class="container">	
<ul  class="nav nav-pills red">
			<li class="active">
        <a  href="#1a" data-toggle="tab">MỤC TIÊU ĐÀO TẠO NỘI BỘ</a>
			</li>
			<li><a href="#2a" data-toggle="tab">CÁC GÓI ĐÀO TẠO</a>
			</li>
			<li><a href="#3a" data-toggle="tab">QUY TRÌNH ĐÀO TẠO</a>
			</li>
  		<li><a href="#4a" data-toggle="tab">PHƯƠNG PHÁP ĐÀO TẠO</a>
			</li>
		</ul>

			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="1a">
          		<span id="tab1">test 1</span>
				</div>
				<div class="tab-pane" id="2a">
          <span id="tab2">test 2</span>
				</div>
        <div class="tab-pane" id="3a">
          <span id="tab3">content 1</span>
				</div>
          <div class="tab-pane" id="4a">
          <span id="tab4">content 2</span>
				</div>
			</div>
  </div>


				</div>
			</div>
		</div>