<!-- Contact CTA -->
		<div id="contact-cta" class="section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({$skin_front}/img/cta2-background.jpg)"></div>
			<!-- Backgound Image -->

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-8 col-md-offset-2 text-center">
						<h2 class="white-text">GIÁ TRỊ CỐT LÕI</h2>
					</div>

				</div>
				<!-- /row -->
				<div class="row" style="margin-top: 30px;">

						<!-- single course -->
						<div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-1">
							<div class="value-core">
								<img class="value-core-icon show-text-val1 selected" src="{$skin_front}/img/val1.png" alt="niềm tin">
							</div>
						</div>
						<div class="col-md-2 col-sm-6 col-xs-6">
							<div class="value-core">
								<img class="value-core-icon show-text-val2" src="{$skin_front}/img/val2.png" alt="sự tận tụy">
							</div>
						</div>

						<div class="col-md-2 col-sm-6 col-xs-6">
							<div class="value-core">
								<img class="value-core-icon show-text-val3" src="{$skin_front}/img/val3.png" alt="nhiệt huyết">
							</div>
						</div>
						<div class="col-md-2 col-sm-6 col-xs-6">
							<div class="value-core">
								<img class="value-core-icon show-text-val4" src="{$skin_front}/img/val4.png" alt="nhật">
							</div>
						</div>
						<div class="col-md-2 col-sm-6 col-xs-6">
							<div class="value-core">
								<img class="value-core-icon show-text-val5" src="{$skin_front}/img/val5.png" alt="bản">
							</div>
						</div>
						<!-- /single course -->
						

					</div>
					<div id="div-txt-core" class="row" style="margin-top: 30px;">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h4 class="green-text" id="text-core-value" style="text-transform: uppercase;">Niềm tin</h4>
						</div>
					</div>

			</div>
			<!-- /container -->

		</div>
		<!-- /Contact CTA -->