<div class="wrapper">
    <div id="breadcrumb">
        <ul>
            {$path_way}          
        </ul>
    </div>
</div>
<div class="wrapper">  
    <div class="container">  
    <span style="font-size:x-large;color:#FF8000;font-weight:bold;"><b>Chi phí Phù hợp và Minh bạch</b></span>
    <br><br>
    <table style="color:#000;border: none;font-size:15px;" cellpadding="0" cellspacing="0" height="auto" width="100%">
    <tbody><tr>
      <td style="color:#000;border:none" height="auto" width="">           
        <p style="font-size:large"><strong>1) Chi phí đào tạo lái xe</strong> <br></p>
        <p style="">- Chi phí chung, tuyển sinh, quản lý, giáo viên…: 2,5 triệu đồng.</p>        
        <p style="">- Chi phí xe tập lái: Tùy thuộc vào loại xe tập mà người học lựa chọn.</p>
        <p style="font-size:large"><strong>2) Chi phí đào tạo nâng cao, kết hợp tham quan du lịch</strong> <br></p>
        <p style="">- Trong thời gian học hoặc sau khi có GPLX người học lựa chọn hình thức học nâng cao kết hợp thăm quan du lịch.</p>
        <p style="">- Mức phí tùy thuộc vào loại xe, ca xe hoặc số Km tập lái để thanh toán theo đơn giá và định mức của trung tâm (đơn giá và định mức xăng dầu niêm yết tại trung tâm)</p>        
        <p style="font-size:large"><strong>3) Chi phí dịch vụ hỗ trợ</strong> <br></p>
        <p style="">- Học viên sử dụng dịch vụ hỗ trợ nào thì thanh toán theo đơn giá niêm yết tại trung tâm</p>        
        
        <p style="font-size:large"><strong>4) Mức thu phí sát hạch và lệ phí cấp GPLX</strong> <br></p>
        <p>Căn cứ theo quy định của Bộ tài chính về mức thu phí sát hạch và cấp GPLX</p> 
        <p style="">+ Sát hạch lý thuyết: 90.000 vnđ</p>
        <p style="">+ Sát hạch thực hành trong sa hình: 300.000 vnđ</p>
        <p style="">+ Sát hạch thực hành trên đường: 60.000 vnđ</p>
        <p style="">+ Cấp GPLX: 135.000 vnđ</p>        
        <p>Học viên thi lại phần thi nào thì nộp lệ phí của phần thi đó.</p>
        
      </td>
      <td width="40%" align="top" style="border: none;">
            <div style="background-color:#F2F2F3;color:#A71717;margin-right:10px;border:1px solid #a1a1a1; border-radius:15px;width:78%;float:right">&nbsp;&nbsp; 
                <br />
                <span style="margin:10px;color:#059BD8;font-family:Cambria;font-size:24px;"><strong>NGOCHACO</strong></span><br>
                <p style="margin-left:20px;">-&nbsp;&nbsp;<span>&nbsp;
                    Vận tải đường bộ</span></p><strong></strong>                   
                    <p style="margin-left:20px;"><strong>-&nbsp;&nbsp;&nbsp;
    </strong> Đào tạo –
                    sát hạch lái xe</p><p style="margin-left:20px;">-&nbsp;&nbsp;&nbsp;
                    Nghỉ dưỡng
                    và chăm sóc người cao tuổi</p><p style="margin-left:20px;">-&nbsp;&nbsp;&nbsp;
                    Đào tạo
                    điều dưỡng viên</strong></p>
                    </strong><p style="margin-left:20px;">-&nbsp;&nbsp;&nbsp;
                    Xây dựng</p>
            </div>            
      </td>
      
        
      
     </tr>
    </tbody>
</table>  
</div>
</div>