<div class="wrapper">
    <div id="breadcrumb">
        <ul>
            {$path_way}          
        </ul>
    </div>
</div>
<div class="wrapper">  
    <div class="container">  
    <span style="font-size:x-large;color:#FF8000;font-weight:bold;">Tiện ích - hiện đại - hiệu quả</span>
    <br>
    <table style="color:#99cccc;border:none;" cellpadding="0" cellspacing="0" height="auto" width="100%">
    <tbody><tr>
      <td style="color:#000;border:none;font-size:15px;" height="auto" width="">           
            <p style="font-size:large"><strong>Chọn một trong các cách học sau:</strong></p>
        <p >-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CNC: Nhanh chóng biết lái xe với sân tập và phương tiện công nghệ cao</p>
                
        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KT1: Hiệu quả và nhiều lựa chọn</p>
        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KT2: Hiệu quả - Học cùng nhóm bạn</p>
       
        
        <p><strong><i>Bạn hãy lựa chọn phương pháp học tập và mức chi phí cho phù hợp với điều kiện của mình theo bảng sau:</strong></i></p>       
         
      </td>
      <td width="30%" align="top" style="border: none;">
            <div style="background-color:#F2F2F3;color:#A71717;margin-right:10px;border:1px solid #a1a1a1; border-radius:15px;width:100%;"> 
                <br />
                <span style="margin:10px;color:#059BD8;font-family:Cambria;font-size:24px;"><strong>NGOCHACO</strong></span><br>
                <p style="margin-left:20px;">-&nbsp;&nbsp;<span>&nbsp;
                    Vận tải đường bộ</span></p><strong></strong>                   
                    <p style="margin-left:20px;"><strong>-&nbsp;&nbsp;&nbsp;</strong>
                    Đào tạo –
                    sát hạch lái xe</p><p style="margin-left:20px;">-&nbsp;&nbsp;&nbsp;
                    Nghỉ dưỡng
                    và chăm sóc người cao tuổi</p><p style="margin-left:20px;">-&nbsp;&nbsp;&nbsp;
                    Đào tạo
                    điều dưỡng viên</strong></p>
                    </strong><p style="margin-left:20px;">-&nbsp;&nbsp;&nbsp;
                    Xây dựng</p>
            </div>            
      </td>      
     </tr>
     <tr>
        <table width="100%" style="font-family:Verdan;font-size:15px;">
            <tr>
                <td width="60%"></td>
                <td align="center"><b>CNC</b></td>
                <td align="center"><b>KT1</b></td>
                <td align="center"><b>KT2</b></td>
            </tr>
            <tr>
                <td><b>I - Học viên liên hệ với Trung tâm</b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>1 - Trực tiếp tại văn phòng Trung tâm</td>
                <td  align="center"><b>x</b></td>
                <td  align="center"><b>x</b></td>
                <td  align="center"><b>x</b></td>
            </tr>
             <tr>
                <td>2 - Qua cán bộ tư vấn của Trung tâm</td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
            </tr>
           
            <tr>
                <td><b>II - Học lý thuyết</b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3 - Dạy ban ngày tại trụ sở chính của Trung tâm (Liên Mạc – Từ Liêm – Hà Nội)</td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
            </tr>
            <tr>
                <td>4 - Dạy buổi tối tại văn phòng công ty (Thanh Xuân - Hà Nội)</td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
            </tr>
            <tr>
                <td>5 - Ôn tập bằng thiết bị đánh giá tự động</td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
            </tr>
            
            <tr>
                <td><b>III - Học thực hành</b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6 - Chọn giáo viên</td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
            </tr>
            <tr>
                <td>7 - Chọn phương tiện</td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
            </tr>
            <tr>
                <td>8 - Chọn kế hoạch học tập cho riêng mình</td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
                <td align="center"></td>
            </tr>
             <tr>
                <td>9 - Chọn giờ học</td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
                <td align="center"></td>
            </tr>
            <tr>
                <td>10 - Học 1 học viên/1 Xe</td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
                <td align="center"></td>
            </tr>
            <tr>
                <td>11 - Học theo nhóm học viên/ 1 Xe</td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><b>x</b></td>
            </tr>   
            
            <tr>
                <td>12 - Tập số nguội bằng xe không có thiết bị tự động đánh giá (TB TĐ ĐG)</td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
            </tr>
            <tr>
                <td>13 - Tiến lùi bằng xe không có thiết bị tự động đánh giá</td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
            </tr>
            <tr>
                <td>14 - Tập bò bãi bằng xe không có thiết bị tự động đánh giá</td>
                <td align="center"></td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
            </tr>
            <tr>
                <td>15 - Tập bò bãi bằng xe chất lượng cao có TB TĐ ĐG</td>
                <td align="center"><b>x</b></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr>
                <td>16 - Tập 10 bài cơ bản bằng xe không có TB TĐ ĐG</td>
                <td align="center"></td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
            </tr>
            <tr>
                <td>17 - Tập 10 bài cơ bản + 2 tình huống nguy hiểm bằng xe chất lượng cao có TB TĐ ĐG</td>
                <td align="center"><b>x</b></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            
             <tr>
                <td>18 - Tập đường trường bằng  xe cùng loại xe sát hạch</td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
            </tr>
             <tr>
                <td>19 - Ôn thi bằng xe có TB TĐ ĐG</td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
            </tr>
            <tr>
                <td>20 - Hướng dẫn kỹ năng lái xe kết hợp thực hiện bài sát hạch thực hành</td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
                <td align="center"><b>x</b></td>
            </tr>
         
        </table>
        <br />
        <p>Người học có yêu cầu cách học khác hãy liên hệ với trung tâm hoặc cán bộ tư vấn của mình.</p>
        
     </tr>
    </tbody>
</table>  
</div>
</div>